.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.header {
}

.main-board {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
